

<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-close' ng-click='hideModal()'>X</div>
        <div class='ng-modal-dialog-content' ng-transclude>
          

    </div>
    <div class="login-container">
<div class="row">
<div class="col-md-12">
<div class="pen-title">
  <h3>User Login</h3>
</div>
<div class="module form-module">
  <div class="toggle "><span>Sign Up</span>
    <div class="tooltip ">Click Me</div>
  </div>
  <div class="form">
    <h2>Login to your account</h2>
    <form>
      <input type="text" placeholder="Username" ng-model="name"/>
      <input type="password" placeholder="Password" ng-model="password"/>
      <button ng-click="checkDb()">Login</button>
    </form>
  </div>
  <div class="form">
    <h2>Create an account</h2>
    <form>
      <input type="text" placeholder="Username" />
      <input type="password" placeholder="Password" ng-model="pwd"/>
      <input type="email" placeholder="Email Address"/>
      <input type="tel" placeholder="Phone Number"/>
      <button>Register</button>
    </form>
  </div>
  <div class="cta"><a href="#">Forgot your password?</a></div>
</div>
</div>

</div>
          
        </div>
</div>"



  
 
