 <!-- Navigation -->
 <div class="shoppingCartMain">
    <nav class="navbar" role="navigation">
        <div class="container-fluid" >
            
                <ul class="nav navbar-nav">
                   
                     
                </ul>
           
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container-fluid" id="myCartMenu">

        <div class="row">

            

            <div class="col-md-12 panelholder well">
           
                      <div ng-transclude></div>
              
            </div>

        </div>

    </div>
    
    <!-- /.container -->
</div>